* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 10px;
}

:root {
	--red: #ff0000;
	--green: #32cd32;
	--blue: #0000ff;
	--yellow: #ffff00;
	--orange: #ffa500;
	--white: #ffffff;
}

h1 {
	font-size: 6rem;
}
h2 {
	font-size: 4rem;
	/* color: var(--white); */
}
h3 {
	font-size: 3rem;
	/* color: var(--white); */
}
h4 {
	font-size: 2rem;

	/* color: var(--white); */
}

/* Mobile-First Media Queries */
@media screen and (max-width: 425px) {
}
@media screen and (min-width: 425px) and (max-width: 641px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media screen and (min-width: 641px) and (max-width: 961px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media screen and (min-width: 961px) and (max-width: 1100px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media screen and (min-width: 1100px) and (max-width: 1281px) {
	/* big landscape tablets, laptops, and desktops */
}
@media screen and (min-width: 1281px) and (max-width: 1500px) {
}
@media screen and (min-width: 1500px) {
}
